In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the data
data = pd.read_csv("../data/raw/main.csv")

In [2]:
data

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume
0,1609459200000,28923.63,28961.66,28913.12,28961.66,27.457032,1609459259999,7.943820e+05,1292,16.777195,485390.826825
1,1609459260000,28961.67,29017.50,28961.01,29009.91,58.477501,1609459319999,1.695803e+06,1651,33.733818,978176.468202
2,1609459320000,29009.54,29016.71,28973.58,28989.30,42.470329,1609459379999,1.231359e+06,986,13.247444,384076.854453
3,1609459380000,28989.68,28999.85,28972.33,28982.69,30.360677,1609459439999,8.800168e+05,959,9.456028,274083.075142
4,1609459440000,28982.67,28995.93,28971.80,28975.65,24.124339,1609459499999,6.992262e+05,726,6.814644,197519.374888
...,...,...,...,...,...,...,...,...,...,...,...
188312,1620794100000,57517.42,57526.28,57485.00,57485.07,42.575735,1620794159999,2.448258e+06,1195,15.319691,880913.090845
188313,1620794160000,57485.07,57496.42,57466.75,57481.49,34.205467,1620794219999,1.966194e+06,1096,15.971891,918058.816162
188314,1620794220000,57477.18,57509.99,57458.18,57470.00,30.211789,1620794279999,1.736514e+06,955,13.054229,750364.577319
188315,1620794280000,57470.00,57470.01,57400.00,57450.90,45.354728,1620794339999,2.605080e+06,1559,12.615628,724559.233035
188316,1620794340000,57450.89,57475.66,57435.51,57450.19,14.168318,1620794399999,8.140594e+05,730,7.247751,416412.022206

In [3]:
# import pandas as pd
# import mplfinance as mpf

# # Sample data
# data = {
#     'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
#     'Open': [100, 102, 105, 103, 107],
#     'High': [105, 106, 110, 107, 108],
#     'Low': [98, 101, 103, 100, 104],
#     'Close': [102, 105, 108, 104, 106]
# }

# # Convert the data to a DataFrame
# df = pd.DataFrame(data)

# # Convert the 'Date' column to datetime
# df['Date'] = pd.to_datetime(df['Date'])

# # Set the 'Date' column as the index
# df.set_index('Date', inplace=True)

# # Plotting the candlestick chart
# mpf.plot(df, type='candle', style='charles', volume=True)